<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">
				<%= title %>
			</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active">
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#about">About</a>
					</li>
					<li>
						<a href="#contact">Contact</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>

<div class="container">


	<!-- Main hero unit for a primary marketing message or call to action -->



		<!-- <div class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title">Modal title</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
				  <p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-primary">Save changes</button>
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			  </div>
			</div>
		  </div>

		<button type="button" data-toggle="modal" data-target="#exampleModal">
			Launch demo modal
		</button> -->


		<button class="btn btn-danger btn-large showrecord" id="004:000">Record</button>
		<button class="btn btn-warning btn-large" id="004:001">Reset Station</button>
		<!-- <button class="btn btn-primary">Default<div class="ripple-container"></div></button> -->
		<!-- *********************************************************	 -->
		<div class="card card-nav-tabs">
			<div class="header header-success">
				<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
				<div class="nav-tabs-navigation">
					<div class="nav-tabs-wrapper">
						<ul class="nav nav-tabs" data-tabs="tabs">


							<li class="active">
								<a href="#ac" data-toggle="tab" aria-expanded="true">
									<i class="material-icons">important_devices</i>
									General
									<div class="ripple-container"></div>
								</a>
							</li>

							<li class="">
								<a href="#sahdes" data-toggle="tab" aria-expanded="true">
									<i class="material-icons">important_devices</i>
									Shades Living Rooom
									<div class="ripple-container"></div>
								</a>
							</li>
							<li class="">
								<a href="#lights" data-toggle="tab" aria-expanded="false">
									<i class="material-icons">chat</i>
									Lights Living Room
									<div class="ripple-container"></div>
								</a>
							</li>
							<li class="">
								<a href="#settings" data-toggle="tab" aria-expanded="false">
									<i class="material-icons">build</i>
									Test-Debug
									<div class="ripple-container"></div>
								</a>

							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content">
				<!-- <div>Debug</div>
				<% remotes.forEach(function(c) { %>
				<div>
					<%= c.groupName %>
				</div>
				<% }); %> -->

				<div class="tab-content text-center">
					<div class="tab-pane active" id="ac">
						<p>

							<form method="post" action="/newcommand" style="display:none" id="recordForm">
								<input type="text" class="form-control" placeholder="Name" name="name">
								<input type="text" class="form-control" placeholder="Address" name="address" value="004">
								<input type="text" class="form-control" placeholder="Command" name="command" value="002">
								<input type="text" class="form-control" placeholder="Remote Group" name="group" value="AC living room">

								<input type="submit" id="close">
							</form>






							<%if (remotes && remotes.length > 0 ) { %>

							<% remotes[0].commands.forEach(function(c) { %>
							<div class="myline">
								<span class="badge badge-pill badge-default time" id="<%=c.address %>:<%=c.commandFile %>">...</span>
								<button class="btn btn-primary btn-large" id="<%=c.address %>:<%=c.commandFile %>">
									<%= c.commandName %>
									<span class="badge badge-pill badge-primary">
										<%= c.commandFile %></span>
								</button>
								<span class="badge badge-pill badge-primary deletecmd" id="<%=remotes[0].groupName%>:<%=c.address %>:<%=c.commandFile %>">x</span>
							</div>
							<% }); %>
							<% } %>


						</p>
					</div>
					<div class="tab-pane" id="sahdes">
						<p>

							<button class="btn btn-block  btn-primary " data-toggle="modal" data-target="#myModal">
								<i class="material-icons">library_books</i> Classic
								<div class="ripple-container"></div>
							</button>


							<button class="btn btn-primary btn-large" id="003:000">Stop</button>
							<button class="btn btn-primary btn-large" id="003:001">Move Up</button>
							<button class="btn btn-primary btn-large" id="003:002">Move Down</button>
							<button class="btn btn-primary btn-large" id="003:003">Reset</button>
						</p>
					</div>
					<div class="tab-pane" id="lights">
						<p>
							<div class="togglebutton">
								<label>
									<input type="checkbox" checked="">
									<span class="toggle"></span>
									Center Living Room
								</label>
							</div>
						</p>
					</div>
					<div class="tab-pane" id="settings">
						<p>
							<button class="btn btn-primary btn-large" id="002:000">Stop 3</button>
							<button class="btn btn-primary btn-large" id="002:001">Move Up 3</button>
							<button class="btn btn-primary btn-large" id="002:002">Move Down 3</button>
							<button class="btn btn-primary btn-large" id="002:003">Reset 3</button>

							<button class="btn btn-primary btn-large" id="005:004">S1 toogle</button>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- *********************************************************	 -->




</div>

<!-- Example row of columns -->


<hr>

<footer>
	<p>&copy; SmartHome</p>
</footer>

</div>
<!-- /container -->